<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="leftMenuFragment">

    <div class="left-menu-wrap">
        <div class="logo">
            <a href="/admin"><img src="/images/logo_horizontal_type.png"></a>
        </div>
        <a href="/admin" class="menu menu-1" title="프로그램 현황">
            <span class="menu-1 font-gray bold">프로그램 현황</span> <i class="icon-gray-program-list"></i>
            <selectmenu class="select-menu d-none"></selectmenu>
        </a>
        <a href="/admin/manage/category/area" class="menu menu-2" title="카테고리 관리">
            <span class="menu-2 font-gray bold">카테고리 관리</span> <i class="icon-gray-category"></i>
            <selectmenu class="select-menu d-none"></selectmenu>
        </a>
        <a href="/admin/manage/group" class="menu menu-3" title="단체 관리">
            <span class="menu-3 font-gray bold">단체 관리</span> <i class="icon-gray-group"></i>
            <selectmenu class="select-menu d-none"></selectmenu>
        </a>
        <a href="/admin/manage/program" class="menu menu-4" title="프로그램 관리">
            <span class="menu-4 font-gray bold">프로그램 관리</span> <i class="icon-gray-program"></i>
            <selectmenu class="select-menu d-none"></selectmenu>
        </a>
        <a href="/admin/manage/edit" class="menu menu-5" title="수정요청 관리">
            <span class="menu-5 font-gray bold">수정요청 관리</span> <i class="icon-gray-edit"></i>
            <selectmenu class="select-menu d-none"></selectmenu>
        </a>
    </div>

</th:block>

</html>