<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user_layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css"></style>

<div layout:fragment="content">
    <main role="main" class="content-center-info-user">

        <!-- 컨텐츠 영역 -->
        <div class="content-wrap auto">
            <p class="title">환경센터 소개</p>

            <div class="w100pro auto">
                <!--<img src=""/>-->
                <div class="prepare-status">
                    <div class="page-prepare-wrap">
                        <img src="/images/page_prepare.svg">
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!--script START-->
    <script></script>
    <!--script END-->
</div>
</html>